.page-nav {
    background-color: #008dc9;
    color: #fff;
    font-size: 16px;
}

.page-footer {
    background-color: #008dc9;
    color: #fff;
}

.hotline {
    color: #FF7400;
    font-size: 18px;
    font-weight: bold;
}

.main-nav-item.active {
    background-color: #FF7400;
}